*.o
*~
.tarball-version
.version
/maint.mk
ABOUT-NLS
ChangeLog
GNUmakefile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.hin
config.log
config.status
configure
cppi-*.tar.bz2
cppi-*.tar.gz
doc
lib/.gitignore
lib/charset.alias
lib/configmake.h
lib/libcppi.a
m4/.gitignore
po/.gitignore
po/LINGUAS
po/Makevars
stamp-h1
tests/*.log
