*~
.tarball-version
.version
/maint.mk
ABOUT-NLS
GNUmakefile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.hin
config.log
config.status
configure
cppi-*.tar.bz2
cppi-*.tar.gz
lib/.gitignore
m4/.gitignore
stamp-h1
