*.o
*~
.deps
.dirstamp
.tarball-version
.version
/ABOUT-NLS
/README-release
/lib/glthread
/m4
/maint.mk
/tests/*.log
/tests/*.trs
ABOUT-NLS
ChangeLog
GNUmakefile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.hin
config.log
config.status
configure
cppi-*.tar.xz
doc
lib/.gitignore
lib/arg-nonnull.h
lib/c++defs.h
lib/charset.alias
lib/configmake.h
lib/libcppi.a
lib/link-warning.h
lib/warn-on-use.h
m4/.gitignore
po/.gitignore
po/.reference
po/??.gmo
po/??.po
po/LINGUAS
po/Makevars
po/POTFILES
po/cppi.pot
po/stamp-po
stamp-h1
